.App {
  height: auto;
  background: yellow;
}

body{
  margin: 0;
  padding: 0;
}

.InputField {
  width: 350px;
  background: white;
}
.InputFieldPopup {
  width: 250px;
  background: white;
}

.NavBarDecoration {
  text-decoration-line: none;
}

#notfound{
  filter: drop-shadow(0 0 0.50rem #45436d);
}
